* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Exo", sans-serif;
    background-color: #e6d1b1;
    align-items: center;
    height: 100vh;
    min-width: 350px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: 80%;
    align-items: center;
}

h1 {
    font-family: 'Pacifico', sans-serif;
    font-size: 60px;
    color: #333;
    text-align: center;
    margin: 30px auto;
}

#pomodoro {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    width: 800px;
    /* Ajustado para o tamanho do conteúdo */
}

.tomato {
    width: 350px;
    height: 350px;
    position: relative;

    background-image: url("../img/tomato.png");
    background-size: contain;
    object-fit: cover;

    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.timer-status {
    color: #f1efef;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    margin-top: 20px;
    color: #f1efef;
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.controls {
    width: 600px;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
}

.controls .focus-session,
.controls .break-session {
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    gap: 5px;
}

.controls .focus-session .header,
.controls .focus-session #focus-time,
.controls .focus-session #break-time,
.controls .break-session .header,
.controls .break-session #focus-time,
.controls .break-session #break-time {
    width: 100%;
    text-align: center;
    font-weight: bold;
    
}

.controls .focus-session #focus-time,
.controls .focus-session #break-time,
.controls .break-session #focus-time,
.controls .break-session #break-time {
    font-size: 20px;
    color: #101010;
}

.btn-minus,
.btn-plus {
    width: 40px;
    cursor: pointer;
    background: #4f8760;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.buttons {
    margin: 10px auto;
    text-align: center;
}

.control-button {
    margin: 10px;
    padding: 8px 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    background: #4f8760;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    border: 2px solid #4f8760;
    color: #4f8760;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    right: 150px;
}